.section-padding {
  padding: 60px 0px;
}

#feature {
  background-color: #f7f7fa;
}

.head-title-container {
  background-color: #e9eaec;
  border-radius: 25px;
  width: 70px;
  padding-left: 5px;
}

.head-title {
  color: #4579f5;
  font-size: 12px;
  font-weight: 700;
}

.head {
  color: #423f53;
  font-size: 38px;
  font-weight: 750;
  margin-bottom: 30px;
}

.head-body {
  color: #6f6d7d;
  font-size: 16px;
}

.block-container {
  background-color: #fcfdfe;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 15px ;
  box-shadow: 10px 10px 5px #f4f4f7;
}

.txt {
  color: #706e7e;
  font-size: 12px;
}

.icon {
  position: relative;
  height: 48px;
  width: 48px;
  margin-top: 14px;
  margin-bottom: 50px;
}

.icon-text {
  margin-left: 10px;
  padding: 0px 25px 25px 0px;
}

.txt-tl {
  color: #424054;
  font-size: 16px;
  font-weight: 540;
}

.start-button {
  border: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 550;
  color: #fff;
  margin: 4px 2px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #07b5fe , #5a37e3);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideFromLeft {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideFromRight {
  animation: 1s ease-out 0s 1 slideInFromRight;
}
