.section-padding {
  padding: 60px 0px;
}

#feature {
  background-color: #f8f8f8;
}

.head-title {
  color: #4d90fa;
  font-size: 14px;
  font-weight: 700;
}

.head {
  color: #515e73;
  font-size: 35px;
  font-weight: 700;
}

.head-body {
  font-size: 18px;
}

.block-container {
  background-color: #fdfdfd;
  padding: 0px 0px 0px 20px;
}

p {
  color: #888;
}

.icon {
  position: relative;
  height: 48px;
  width: 48px;
  float: left;
  margin-top: 14px;
  margin-bottom: 20px;
}

.icon i {
  font-size: 35px;
  color: #4d90fa;
}

.icon-text {
  margin-left: 63px;
  padding: 0px 25px 25px 0px;
}

h3.txt-tl {
  font-size: 24px;
  line-height: 1.35;
}

.start-button {
  border: none;
  border-radius: 15px 25px;
  font-size: 14px;
  font-weight: 550;
  color: #fff;
  margin: 4px 2px;
  padding: 10px 20px;
  background-image: linear-gradient(to right, #68c6d9 , #5061bf);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideFromLeft {
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.slideFromRight {
  animation: 1s ease-out 0s 1 slideInFromRight;
}
